.no-padding {
  padding: 0;
}

.post {
  margin-bottom: 3px;
}

header {
  height: 82px;
  background-color: #d7d7d7;
}

.menu-toggle {
  width: 81px;
  height: 82px;
  background-color: #aaaaaa;
  display: inline-block;
}