.oks-logo {
  padding-top: 31px;
  padding-bottom: 28px;
  margin: 0 auto;
  display: block;
}

.top-banner {
  background: url('../images/top-banner.png') no-repeat center center;
  background-size: cover;
  height: 493px;
  text-align: center;
}

.top-banner span.ynf-subtitle {
  margin-top: 260px;
  display: block;
  color: #868175;
  font-size: 25px;
  font-weight: bold;
}

.top-banner span.top-banner-date-and-time {
  display: block;
  margin-top: 120px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.col-xs-12 {
  padding: 0;
}